<!--
{% comment %}
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to you under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
{% endcomment %}
-->
 <section id="services">
    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6 col-sm-push-7">
                    <h2 ><a href="https://plus.google.com/events/c4v0hjbefda5vcfceffllgncv2k">Hangout: Intro to Apache Quarks</a></h2>
                    <h4 >Wednesday, April 13 10am-12pm PST</h3>
                    
                    <div class="lead">In this <a href="https://plus.google.com/events/c4v0hjbefda5vcfceffllgncv2k">Google+ Hangout</a>, the committers presented a high-level overview of the Apache Quarks project and demonstrated how you can write, monitor and debug your Quarks application. They also showed you how you can get involved and contribute to the Quarks community. </div>
                </div>
                <div style="height:290px;" class="col-lg-7 col-sm-pull-5 col-sm-6">  
                    <iframe style="width:85%;height:100%" src="//www.youtube.com/embed/Xqns7yVNDnk" frameborder="1" allowfullscreen></iframe>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

</section>
