<!--
{% comment %}
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to you under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
{% endcomment %}
-->
 <section id="services">
    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Why Apache Edgent?</h2>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-4  col-sm-6 box">
                    <div class="text-box">
                            <h4 class="section-heading text-center">Reduced Communication Costs</h4>
                            <div class="clearfix"></div>
                            <div class="lead">Edgent performs real-time analytics on the edge device, separating the interesting from the mundane, so you don’t have to send every sensor reading over a network. If 99% of readings are normal, Edgent detects the 1% anomalies and just transmits those for further processing. 
        </div>
                    </div>
                </div>
                <div class="col-lg-4  col-sm-6 box">
                    <div class="text-box">
                            <h4 class="section-heading text-center">Local and Faster Time to Action</h4>
                            <div class="clearfix"></div>
                            <div class="lead">Edgent makes devices more intelligent, enabling them to take immediate action.  For example, a connected vehicle running Edgent can adjust traction control based on the weight of the cargo/passengers.</div>
                    </div>
                </div>
                <div class="col-lg-4  col-sm-6 box">
                    <div class="text-box">
                            <h4 class="section-heading text-center">Learning From Related Devices</h4>
                            <div class="clearfix"></div>
                            <div class="lead">Edgent enables connected devices to learn from related devices. For example, a truck maneuvering roads in Oregon can adjust based on the data received from trucks operating under similar loads and conditions in Colorado; data such as altitude, cargo, weather and traffic conditions. 
</div>
                    </div>
                </div>
            </div>

        </div>
</section>
